<hr style="height: 5px; background-color: grey" />
<div style="text-align: center">
  <h1>string-inter-pollation</h1>
  <app-string-inter-pollation></app-string-inter-pollation>
  <h1>property Binding</h1>
  <app-property-binding></app-property-binding>
  <h1>event binding</h1>
  <app-event-binding></app-event-binding>
</div>
<hr style="height: 5px; background-color: grey" />
<div style="text-align: center">
  <h1>TWO WAY BINDING</h1>
  <p>
    basically the two way binding has two methods first is basic two way binding
    using above three data binding methods and second is advanced two data
    binding method using angular module
  </p>
  <h2>Simple two data binding</h2>
  <app-simple-two-way-data-binding></app-simple-two-way-data-binding>
  <h2>advanced two data binding</h2>
  <app-advanced-two-way-data-binding></app-advanced-two-way-data-binding>
</div>
<hr style="height: 5px; background-color: grey" />
